.HiddenMessage-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.HiddenMessage-iconsContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5rem;
    margin-bottom: .5rem;
}

.HiddenMessage-iconsContainer__arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: .5rem;
    transition: transform .3s;
}

.HiddenMessage-iconsContainer:hover {
    cursor: pointer;
}

.HiddenMessage-content {
    transition: all .3s;
    transition: opacity .5s cubic-bezier(0, 1.1, 1, .73) .1s;
    display: flex;
    
}

.HiddenMessage-content--hidden {
    
}