@import '../../../scss/mixins';

.FormMotoCard {
    width: 30rem;
    height: 40rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: #333333;
    color: white;

    &ImgContainer {
        flex: 0 0 55%;
        background-color: white;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Img {
        max-width: 29rem;
        max-height: 21rem;
    }

    &Title {
        &Container {
            height: 5rem;
            width: 70%;
            background-color: black;
            color: white;
            @include flexCenter;
            transform: translateY(-50%);
        }

        &Text {
            font-size: 1.9rem;
        }
    }

    &DescriptionText {
        font-size: 1.5rem;
        padding: .5rem;
    }
}

@media (max-width: 1370px) and (min-height: 850px) {
    .FormMotoCard {
        width: 40rem;
        height: 50rem;

        &DescriptionText {
            font-size: 1.8rem;
            padding: .5rem;
        }

        &Img {
            max-width: 32rem;
            max-height: 23rem;
        }
    }
}