

    .MotoCard {
        width: 30rem;
        height: 40rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        background-color: #333333;
        color: white;
    }
    
    .MotoCard-img_div {
        flex: 0 0 55%;
        background-color: white;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .MotoCard-img {
        max-width: 29rem;
        max-height: 21rem;
    }
    
    .MotoCard-title {
        height: 5rem;
        width: 70%;
        background-color: black;
        color: white;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        transform: translateY(-50%);
    }
    
    .MotoCard-title h3 {
        font-size: 1.9rem;
    }
    
    .MotoCard-short_info {
        transform: translateY(-1.2rem);
    }
    
    .MotoCard-short_info p {
        font-size: 1.5rem;
        padding: .5rem;
    }
    
    .MotoCard-book {
        height: 6rem;
        width: 100%;
        font-size: 1.9rem;
    
        background-color: black;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: all .2s;
    }
    
    .MotoCard-book:link,
    .MotoCard-book:visited {
        text-decoration: none;
        color: white;
    }
    
    .MotoCard-book:active {
        background-color: rgb(44, 43, 43);
    }
    
    .MotoCard-book:hover {
        cursor: pointer;
        background-color: #0a0a0a;
    }


@media (max-width: 550px) {
    .MotoCard {
        width: 35rem;
        height: 45rem;
    }

    .MotoCard-book {
        height: 7rem;
    }
}