.DayCard-container {
    padding: 2.5rem 1.5rem;
    height: 40rem;
    width: 30rem;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.DayCard-container--partly {
    background-color: rgb(253, 253, 131);
}

.DayCard-container--not {
    background-color: rgb(252, 127, 127);
}

.DayCard-header--h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.DayCard-header--h2 {
    text-align: center;
    font-size: 1.8rem;
}

.DayCard-orders--div {
    flex: 0 0 65%;
    width: 80%;
}

.DayCard-orders--status {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.DayCard-orders--p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.DayCard-listDiv {
    overflow: auto;
    max-height: 18rem;
    margin-bottom: .5rem;
}

.DayCard-list {
    list-style: none;
}

.DayCard-list--item {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
}

.DayCard-list--item__text {
    margin-left: .2rem;
}

.DayCard-buttonsDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.DayCard-buttonsDiv--button {
    border: none;
    height: 4rem;
    width: 11rem;
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 1.5rem;
    padding: .5rem;
}

.DayCard-buttonsDiv--link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.DayCard-buttonsDiv--button:hover {
    cursor: pointer;
    background-color: rgb(49, 49, 49);
}
