@import '../../../scss/mixins';
@import '../../../scss/variables';

.DateSelect {
    padding: 1.5rem;
    margin-top: -1rem;
    margin-bottom: .5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;

    &Error {
        @extend .DateSelect;
        background-color: $color-red-inputBackgroundError;
        border: 2px $color-red-availability solid;
    }

    &Section {
        display: flex;
        width: 100%;
        &:first-of-type {
            margin-bottom: 1.5rem;
        }

        &Text {
            flex: 0 0 13%;
            font-size: 1.5rem;
            font-weight: bold; 
            margin-right: .5rem;
        }
    }

    &Container {
        flex: 1;
    }

    &Input {
        font-size: 1.4rem;
        font-family: inherit;
        margin-right: 1rem;
    
        background-color: transparent;
        color: black;
        border: none;
        border-bottom: 1px solid black;
    }


}

.Error {
    &Container {
        text-align: start;
        width: 80%;
        margin-bottom: 1rem;
    }

    &Message {
        color: red;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 3px;
        text-align: center;
    }
}

@media (max-width: 2000px) {
    .DateSelect {
        width: 70%;
    }
}

@media (max-width: 1530px) {
    .DateSelect {
        width: 80%;
    }
}

@media (max-width: 1130px) {
    .DateSelect {
        padding: 1rem 1rem;
    }
}

@media (max-width: 1030px) and (orientation: portrait) {
    .DateSelect {
        width: 70%;
        &Input {
            font-size: 1.8rem;
        }

        &SectionText {
            font-size: 1.8rem;
        }
    }

    .ErrorMessage {
        font-size: 1.5rem;
    }
}

@media (max-width: 870px) {
    .DateSelect {
        padding: 1rem 1rem; 
    }
}


@media (max-width: 745px) {
    .DateSelect {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .DateSelectSection:first-of-type {
        margin-bottom: 2rem;
        margin-top: .5rem;
    }

    .DateSelect {
        margin: 1rem 0;
    }
}

@media (max-width: 390px) {
    .DateSelect {
        padding: 1.5rem 1rem;
    }
}