@import '../../../scss/variables';
@import '../../../scss/mixins';

.BasicButton {
    color: white;
    font-weight: bold;
    border: none;
    font-family: inherit;
    transition: all .2s;

    &:hover {
        cursor: pointer;
    }

    &Link {
        @include flexCenter;
        @extend .BasicButton;
        text-decoration: none;
        
        :link,
        :visited {
            text-decoration: none;
            color: white;
        }
    }
}

.medium {
    height: 4rem;
    width: 11rem;
    font-size: 1.5rem;
}

.big {
    height: 6rem;
    width: 20rem;
    font-size: 2rem;
}

.black {
    background-color: $color-primary;

    &:hover {
        background-color: $color-primary-hovered;
    }

    &:active {
        background-color: $color-primary-active;
    }
}

.green {
    background-color: $color-green;

    &:hover {
        background-color: $color-green-hovered;
    }
}

.red {
    background-color: $color-red;

    &:hover {
        background-color: $color-red-hovered;
    }
}