@import '../../../scss/variables';
@import '../../../scss//mixins';

.CalendarNavigation {
    width: 100%;
    @include flexSpaceEvenlyColumn;

    &Section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;

        &:first-of-type {
            margin-bottom: 2em;
        }
    }

    &Select {
        font-size: 2rem;
        font-family: inherit;
        margin-right: 1rem;

        background-color: transparent;
        color: black;
        border: none;
        border-bottom: 1px solid black;
        margin: 0;
    }

    &Button {
        background-color: black;
        border: none;
        padding: .5rem;
        width: 4.5rem;
        border-radius: 3px; 

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .2s;

        &:hover {
            background-color: $color-primary-hovered;
            cursor: pointer;
        }
    }
}

@media (max-width: 567px) {
    .CalendarNavigationSection {
        width: 100%;
    }
}