.Modal-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 300;
    transition: all .3s ease-out;
}

.Modal {
    /* position: fixed; */
    z-index: 500;
    background-color: rgb(238, 238, 238);
    /* width: 40%; */
    /* border: 1px solid #ccc; */
    box-shadow: 1px 1px 1px black;
    /* padding: 16px; */
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    box-sizing: border-box;
}