@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.DayCard {
    padding: 2.5rem 1.5rem;
    height: 40rem;
    width: 30rem;
    border: 1px solid black;
    @include flexSpaceBetweenColumn;

    &Header {
        &Primary {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        &Secondary {
            text-align: center;
            font-size: 1.8rem;
        }
    }

    &OrdersContainer {
        flex: 0 0 65%;
        width: 80%;

        &Status {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
            text-align: center;
        }

        &Text {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }

    &ListContainer {
        overflow: auto;
        max-height: 18rem;
        margin-bottom: .5rem;
    }

    &List {
        list-style: none;

        &Item{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: .2rem;
            display: flex;
            align-items: center;

            &Text {
                margin-left: .2rem;
            }
        }
    }

    &ButtonsContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

}

.partly {
    background-color: $color-yellow-availability;
}

.not {
    background-color: $color-red-availability;
}

