.CheckIfAvailable-container {
    min-height: 76vh;
    background-color: rgba(0, 0, 0, .8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.CheckIfAvailable-content {
    min-width: 82.5rem;
    min-height: 52.5rem;
    background-color: rgb(238, 238, 238);
    border-radius: 3px;
    margin: 3rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.CheckIfAvailable-calendar {
    width: 100%;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.CheckIfAvailable-navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 60%;
}

.calendarNav-button {
    background-color: black;
    border: none;
    padding: .5rem;
    width: 4.5rem;
    border-radius: 3px; 

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;
}

.calendarNav-button:hover {
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.CheckIfAvailable-select {
    font-size: 2rem;
}

.CheckIfAvailable-description {
    width: 60%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

.CheckIfAvailable-description--div {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 10rem; */
}

.CheckIfAvailable-description--box {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    margin-right: .5rem; 
}

.yellow-box {
    background-color: rgb(253, 253, 131);
}

.red-box {
    background-color: rgb(255, 94, 94);
}

.CheckIfAvailable-description-p{
    font-size: 1.5rem;
}



@media (max-width: 1370px) {
    .CheckIfAvailable--brandSelect {
        font-size: 1.8rem;
    }
}

@media (max-width: 700px) {
    .CheckIfAvailable-content {
        min-width: 71rem;
    }
}

@media (max-width: 567px) {
    /* .CheckIfAvailable-content {
        min-width: 0;
        width: 80%;
    }

    .CheckIfAvailable-description {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        width: 50%;
        height: 7rem;
    }

    .CheckIfAvailable-description-p{
        font-size: 1.6rem;
        font-weight: bold;
    } */
    .CheckIfAvailable-navigation {
        width: 100%;
    }

    .CheckIfAvailable-content {
        min-width: 0;
        width: 100%;
        padding: 1.5rem .5rem;
        margin: 3rem 0;
    }

    .CheckIfAvailable-description {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        width: 50%;
        height: 7rem;
    }

    .CheckIfAvailable-description-p{
        font-size: 1.6rem;
        font-weight: bold;
    }
}