.RentalSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 40rem;
    width: 35rem;    
    
}

.RentalSummary h1 {
    font-size: 3.5rem;
}

.RentalSummary p {
    font-size: 1.8rem;
}

.details-main {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;

    width: 100%;
}

.details-section--list {
    list-style: none;
}

.details-section--listItem {
    display: flex;
    align-items: center;


    padding: .3rem;
}

.details-section--listItem__text {
    margin-left: .3rem;
}

.buttons-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm:hover {
    background-color: rgb(84, 139, 0);
}

.confirm {
    background-color: rgb(95, 158, 0);
    border: none;
}

.cancel:hover {
    background-color: rgb(190, 0, 0);
}

.cancel {
    background-color: rgb(207, 0, 0);
    border: none;
}

@media (max-width: 1030px) and (min-height: 1000px) {
    .RentalSummary {
        height: 55rem;
        width: 50rem;    
    }

    .RentalSummary h1 {
        font-size: 4rem;
    }

    .RentalSummary p {
        font-size: 2.5rem;
    }

    .details-section--icon {
        display: none;
    }

    .confirm, .cancel {
        width: 11rem;
        height: 6rem;
    }
}

@media (max-width: 1000px) {
    .details-section--icon {
        display: none;
    }

    .RentalSummary p {
        font-size: 2rem;
    }
}

