    @import '../../../scss/mixins';

    .BrandLogoItem {
        width: 22rem; 
        height: 22rem;
        border-radius: 3px;
        background-color: white;
        opacity: 1;
        filter: grayscale(100%);
    
        @include flexCenter;
    
        transition: all .2s;

        &:hover {
            filter: none;
            transform: scale(1.1);
            cursor: pointer;
        }

        &Img {
            opacity: 1;
            filter: none;
        }
    }

    .standard {
        width: 15rem;
        height: 15rem;
    }

    .small {
        width: 13.5rem;
        height: 13.5rem;
    }

/*     .Logo-div {
        width: 22rem; 
        height: 22rem;
        border-radius: 3px;
        background-color: white;
        opacity: 1;
        filter: grayscale(100%);
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: all .2s;
    }
    
    .Logo-div:hover {
        
        filter: none;
        transform: scale(1.1);
        cursor: pointer;
    } */
    
    /* .red > img {
        width: 13.5rem;
        height: 13.5rem;
    }
    
    .green > img {
        width: 15rem;
        height: 15rem;
    }
    
    .light-blue > img {
        width: 15rem;
        height: 15rem;
    }
    
    .dark-blue > img {
        width: 15rem;
        height: 15rem;
    } */
    
/*     .Logo-div > img {
        opacity: 1;
        filter: none;
    } */


@media (max-width: 1925px) {
    .BrandLogoItem {
        width: 19.5rem; 
        height: 19.5rem;
    }

    .standard {
        width: 12.5rem;
        height: 12.5rem;
    }

    .small {
        width: 11rem;
        height: 11rem;
    }

    /* .Logo-div {
        width: 19.5rem; 
        height: 19.5rem;
    } */
    
    /* .red > img {
        width: 11rem;
        height: 11rem;
    }
    
    .green > img {
        width: 12.5rem;
        height: 12.5rem;
    }
    
    .light-blue > img {
        width: 12.5rem;
        height: 12.5rem;
    }
    
    .dark-blue > img {
        width: 12.5rem;
        height: 12.5rem;
    } */
}

@media (max-width: 1700px) {
    .BrandLogoItem {
        width: 18rem; 
        height: 18rem;
    }

    .standard {
        width: 11rem;
        height: 11rem;
    }

    .small {
        width: 9.5rem;
        height: 9.5rem;
    }

    /* .Logo-div {
        width: 18rem; 
        height: 18rem;
    }
    
    .red > img {
        width: 9.5rem;
        height: 9.5rem;
    }
    
    .green > img {
        width: 11rem;
        height: 11rem;
    }
    
    .light-blue > img {
        width: 11rem;
        height: 11rem;
    }
    
    .dark-blue > img {
        width: 11rem;
        height: 11rem;
    } */
}

@media (max-width: 1370px) and (min-height: 1020px) {
    .BrandLogoItem {
        width: 25rem; 
        height: 25rem;

        filter: none;
        opacity: .8;
    }

    .standard {
        width: 16rem;
        height: 16rem;
    }

    .small {
        width: 14.5rem;
        height: 14.5rem;
    }

    /* .Logo-div {
        width: 25rem; 
        height: 25rem;

        filter: none;
        opacity: .8;
    }
    
    .red > img {
        width: 14.5rem;
        height: 14.5rem;
    }
    
    .green > img {
        width: 16rem;
        height: 16rem;
    }
    
    .light-blue > img {
        width: 16rem;
        height: 16rem;
    }
    
    .dark-blue > img {
        width: 16rem;
        height: 16rem;
    } */
}

@media (max-width: 1030px) and (min-height: 1360px) {
    .BrandLogoItem {
        width: 26rem; 
        height: 26rem;

        filter: none;
        opacity: .8;
    }

    .standard {
        width: 17rem;
        height: 17rem;
    }

    .small {
        width: 15.5rem;
        height: 15.5rem;
    }

    /* .Logo-div {
        width: 26rem; 
        height: 26rem;
        filter: none;
        opacity: .8;
    }
    
    .red > img {
        width: 15.5rem;
        height: 15.5rem;
    }
    
    .green > img {
        width: 17rem;
        height: 17rem;
    }
    
    .light-blue > img {
        width: 17rem;
        height: 17rem;
    }
    
    .dark-blue > img {
        width: 17rem;
        height: 17rem;
    } */
}



@media (max-width: 770px) {
    .BrandLogoItem {
        width: 16rem; 
        height: 16rem;

        filter: none;
        opacity: .8;
    }

    .standard {
        width: 11rem;
        height: 11rem;
    }

    .small {
        width: 9.5rem;
        height: 9.5rem;
    }

    /* .Logo-div {
        width: 16rem; 
        height: 16rem;
        filter: none;
        opacity: .8;
    }
    
    .red > img {
        width: 9.5rem;
        height: 9.5rem;
    }
    
    .green > img {
        width: 11rem;
        height: 11rem;
    }
    
    .light-blue > img {
        width: 11rem;
        height: 11rem;
    }
    
    .dark-blue > img {
        width: 11rem;
        height: 11rem;
    } */
}

@media (max-width: 770px) and (min-height: 800px) {
    .BrandLogoItem {
        width: 20rem; 
        height: 20rem;
    }

    .standard {
        width: 13rem;
        height: 13rem;
    }

    .small {
        width: 11.5rem;
        height: 11.5rem;
    }

    /* .Logo-div {
        width: 20rem; 
        height: 20rem;
    }

    .red > img {
        width: 11.5rem;
        height: 11.5rem;
    }
    
    .green > img {
        width: 13rem;
        height: 13rem;
    }
    
    .light-blue > img {
        width: 13rem;
        height: 13rem;
    }
    
    .dark-blue > img {
        width: 13rem;
        height: 13rem;
    } */
}

@media (max-width: 570px) {
    .BrandLogoItem {
        width: 14rem; 
        height: 14rem;
    }

    .standard {
        width: 9rem;
        height: 9rem;
    }

    .small {
        width: 7.5rem;
        height: 7.5rem;
    }

    /* .Logo-div {
        width: 14rem; 
        height: 14rem;
    }
    
    .red > img {
        width: 7.5rem;
        height: 7.5rem;
    }
    
    .green > img {
        width: 9rem;
        height: 9rem;
    }
    
    .light-blue > img {
        width: 9rem;
        height: 9rem;
    }
    
    .dark-blue > img {
        width: 9rem;
        height: 9rem;
    } */
}

@media (max-width: 430px) {
    .BrandLogoItem {
        width: 21rem; 
        height: 21rem;
    }

    .standard {
        width: 18rem;
        height: 18rem;
    }

    .small {
        width: 16.5rem;
        height: 16.5rem;
    }

    /* .Logo-div {
        width: 21rem; 
        height: 21rem;
    }
    
    .red > img {
        width: 16.5rem;
        height: 16.5rem;
    }
    
    .green > img {
        width: 18rem;
        height: 18rem;
    }
    
    .light-blue > img {
        width: 18rem;
        height: 18rem;
    }
    
    .dark-blue > img {
        width: 18rem;
        height: 18rem;
    } */
}

