.Footer {
    height: 12vh;
    min-height: 60px;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;    
}

.Footer-text {
    font-size: 1.2rem;
}

.Footer-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}

.Footer-contact--text{
    font-size: 1.4rem;
}

.Footer-contact--link{
    margin-left: .8rem;
}