.Footer {
    height: 12vh;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: sticky;
    bottom: 0;    
}

.Footer-items__div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.Footer-items__item {
    font-size: 1.5rem;
    height: 5rem;
    width: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;
}

.Footer-items__item:hover {
    cursor: pointer;
    background-color: rgb(46, 46, 46);
}