@import '../../scss/mixins';

.Footer {
    height: 12vh;
    min-height: 60px;
    background-color: black;
    color: white;

    @include flexCenterColumn;
    position: sticky;
    bottom: 0;

    &Text {
        font-size: 1.2rem;
    }

    &Contact {
        width: 100%;
        @include flexCenter;
        margin-top: .5rem;

        &Text {
            font-size: 1.4rem;
        }

        &Link {
            margin-left: .8rem;
        }
    }
}