.FormMotoCard {
    width: 30rem;
    height: 40rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: #333333;
    color: white;
}

.FormMotoCard-img_div {
    flex: 0 0 55%;
    background-color: white;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.FormMotoCard-img {
    max-width: 29rem;
    max-height: 21rem;
}

.FormMotoCard-title {
    height: 5rem;
    width: 70%;
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(-50%);
}

.FormMotoCard-title h3 {
    font-size: 1.9rem;
}

.FormMotoCard-short_info p {
    font-size: 1.5rem;
    padding: .5rem;
}

.FormMotoCard-book {
    height: 6rem;
    width: 100%;
    font-size: 1.9rem;

    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .2s;
}

.FormMotoCard-book:link,
.FormMotoCard-book:visited {
    text-decoration: none;
    color: white;
}

.FormMotoCard-book:active {
    background-color: rgb(44, 43, 43);
}

.FormMotoCard-book:hover {
    cursor: pointer;
    background-color: rgb(31, 30, 30);
}

@media (max-width: 1370px) and (min-height: 850px) {
    .FormMotoCard {
        width: 40rem;
        height: 50rem;
    }

    .FormMotoCard-short_info p {
        font-size: 1.8rem;
        padding: .5rem;
    }

    .FormMotoCard-img {
        max-width: 32rem;
        max-height: 23rem;
    }
}