
    .RegisterForm-Form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        color: black;
        width: 80%;
        margin: 2rem;
    }
    
    .RegisterForm-optionalContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
    }
    
    .RegisterForm-textInput {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        font-family: inherit;
        font-size: 1.4rem;
    
        height: 3rem;
        width: 30rem;
        padding: .5rem;
        margin-bottom: 2rem;
    }
    
    .RegisterForm-errorMsg {
        font-weight: bold;
        color: red;
    }
    
    .RegisterForm-textInput--error {
        background-color: rgb(255, 151, 151);
        border-bottom: 1px solid rgb(255, 14, 14);
    }
    
    .RegisterForm-textInput:-webkit-autofill,
    .RegisterForm-textInput:-webkit-autofill:hover, 
    .RegisterForm-textInput:-webkit-autofill:focus, 
    .RegisterForm-textInput:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px rgb(238, 238, 238) inset !important;
        box-shadow: 0 0 0 30px rgb(238, 238, 238) inset !important;
        -webkit-text-fill-color: black !important;
    }
    
    .RegisterForm-textInput--error:-webkit-autofill,
    .RegisterForm-textInput--error:-webkit-autofill:hover, 
    .RegisterForm-textInput--error:-webkit-autofill:focus, 
    .RegisterForm-textInput--error:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px rgb(255, 151, 151) inset !important;
        box-shadow: 0 0 0 30px rgb(255, 151, 151) inset !important;
        -webkit-text-fill-color: black !important;
    }
    
    .RegisterForm-btnContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .RegisterForm-btn {
        width: 10rem;
        height: 4rem;
        border: none;
        background-color: black;
        color: white;
        font-family: inherit;
        font-size: 1.5rem;
    }
    
    .RegisterForm-btn:hover {
        background-color: rgb(34, 34, 34);
        cursor: pointer;
    }
    
    .RegisterForm-informationDiv {
        margin-top: 2rem;
        margin-bottom: 5rem;
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    .RegisterForm-informationIcon {
        display: flex;
        justify-content: center;
    }

    .RegisterForm-checkboxContainer {
        display: flex;
        margin-bottom: 2rem;
    }

    .RegisterForm-checkboxText {
        margin-left: .5rem;
        font-size: 1.3rem;
        font-weight: bold;
    }


@media (max-width: 1400px) {
    .RegisterForm-textInput {
        font-size: 1.6rem;
    }
}

@media (max-width: 1030px) {
    .RegisterForm-textInput {
        font-size: 2rem;
        height: 4rem;
    }

    .RegisterForm-errorMsg {
        font-size: 1.8rem;
    }

    .RegisterForm-informationDiv {
        font-size: 1.3rem;
    }

}

@media (max-width: 815px) {
    .RegisterForm-textInput {
        font-size: 2.1rem;
        height: 4rem;
    }

    .RegisterForm-errorMsg {
        font-size: 1.8rem;
    }

    .RegisterForm-informationDiv {
        font-size: 1.4rem;
    }
}

@media (max-width: 450px) {
    .RegisterForm-informationDiv {
        font-size: 1.8rem;
    }

    .RegisterForm-btn {
        width: 11rem;
        height: 5rem;
        font-size: 1.8rem;
    }

    .RegisterForm-textInput {
        font-size: 2.3rem;
        height: 4.5rem;
        width: 35rem;
    }
}

@media (max-width: 450px) {
    
}