.CalendarItem-container {
    /* width: 6rem; */
    height: 8rem;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.CalendarItem-container:hover {
    cursor: pointer;
    border-width: 3px;
}

.CalendarItem-container-additional {
    opacity: .4;
}

.CalendarItem-number {
    font-size: 3rem;
}

.available {
    background-color: transparent;
}

.partly {
    background-color: rgb(253, 253, 131);
}

.not {
    background-color: rgb(255, 94, 94);
}

@media (max-width: 567px) {
    /* .CalendarItem-container {
        width: 15rem; 
        height: 15rem;
    } */
}