.MotorcyclesListDisplay{
    width: 100%;
    min-height: 50rem;
    background-color: rgb(24, 24, 24);
    min-height: 76vh;

    display: flex;
    flex-direction: column;

    &ListContainer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1030px) {
    .MotorcyclesListDisplayTogglerContainer {
        margin-top: 3rem;
    }
}

@media (max-width: 940px) {
    .MotorcyclesListDisplayTogglerContainer {
        margin-top: 0;
    }
}