@import '../../scss/mixins';

.MotorcyclesListDisplay{
    width: 100%;
    min-height: 50rem;
    background-color: hsl(0, 0%, 9%);
    min-height: 76vh;

    display: flex;
    flex-direction: column;

    &ListContainer {
        flex: 1;
        @include flexCenter;
    }
}

@media (max-width: 1030px) {
    .MotorcyclesListDisplayTogglerContainer {
        margin-top: 3rem;
    }
}

@media (max-width: 940px) {
    .MotorcyclesListDisplayTogglerContainer {
        margin-top: 0;
    }
}