@import '../../../scss/variables';

.OptionToggle {
    &List {
        list-style: none;
        display: flex;

        &Item {
            border: 2px white solid;

            &:last-child {
                border-left: none;
            }
        }
    }

    &Button {
        color: white;
        background-color: transparent;
        border: none;
        padding: 2rem 2rem;
        width: 16rem;
        text-align: center;
        font-weight: bold;
        font-family: inherit;
        font-size: 1.6rem;

        &:hover {
            cursor: pointer;
        }

        &Active {
            @extend .OptionToggleButton;
            color: black;
            background-color: $color-grey-primary;
        }
    }
}

@media (max-width: 2085px) {
    .OptionToggleButton {
        padding: 1rem 2rem;
        width: 16rem;
        font-size: 1.6rem;
    }
}

@media (max-width: 1030px) {
    .OptionToggleButton {
        padding: 2rem 2rem;
    }
}
